.content{
    height: calc(100% - 145px);
    width: 100vw;
     background: white;
     overflow-y: auto;
     overflow-x: hidden;
}
.s_element{
    width: 500px;
     margin-left: 5%;
    height: 260px ;
     margin-top: 7vh;
     position: relative;
     overflow: hidden;
  }

 .s_image{
    
     border-radius: 15px;
  


 }
 .s_image img{
    width: 100%;
     border-radius: 15px;

  }

  .p{
   margin-left: 6px;
  }

 .s_info{
   position: absolute;
   right: 0;
   bottom: 0;
   background: linear-gradient( rgba(0, 61, 61, 0.705), rgba(0, 46, 24, 0.852));
   color: white;
   z-index: 4;
   padding: 10px;
   border-top-left-radius: 40px;
   padding-right: 30px;
   padding-left: 20px;
    
     


  }

.s_info h4, .views_left{
   font-size: 16px;
   font-weight: 200;
}

  .views_left{
    margin-top: 10px;
   }


@media (max-width: 600px){
   .s_element{
       height: 20vh;
       width: 90vw;
       position: relative;
       flex-direction: column;
       background: white;
       margin-left: calc(50% - 300px);
       overflow: hidden;
       margin-left: 5vw;
       display: none;
          
   }
} 